.content
    .review__wrap
        .review__item
            span Отзыв от 16.10.2020
            h4 Кравченко Ксения
            p Первый раз столкнулась с отеком и не знала, куда бежать в субботу. У ребёнка начался отёк глаза, в клинике "Аллергосити" на Титова, 7 приняли в этот же день и назначили уколы. Первый укол сделали там же сразу.
        .review__item
            span Отзыв от 16.02.2020
            h4 Ирина Федорова
            p Посещаем данное учреждение уже 3-й раз... У ребенка имеется аллергия и нам необходимо было, чтобы врач назначал лечение. Первый раз были ещё перед зимой, врач была хорошей, рассказала про лечение, сказала, что необходимо сдать анализы и прийти к ней после Нового года - она выпишет лекарства и мы начнем лечение. Мы сдали все анализы - звоним после Нового года, наш врач ушла в декрет! Ну ок, бывает, записывается на прием к другому врачу, та говорит, что анализы надо пересдать, ей что-то не нравится и прийти показать - она так же должна выписать лекарство! Сдаём анализы повторно и-и-и... И эта врач ушла в отпуск! Записываемся к третьему врачу - опять платим за прием, чтобы просто показать анализы и получить рецепт для лекарства ребенку! Записали в воскресенье на прием к 9 часам утра, сказав подойти как обычно за 10 мин. Приезжаем, подходим ровно за 10 минут... А клиника закрыта, стучимся - персонал за дверью ходит не реагирует, мы с ребенком стоим мерзнем на улице! Открыли в 08.58... Вопрос, зачем было приглашать за 10 минут, если у вас закрыта клиника? При этом мы стояли не одни на улице - были ещё такие же посетители как мы, которых попросили поморозиться перед дверьми! Отношение прям совсем не очень! Про врачей ничего сказать не хочу, но прошу администрацию обратить внимание на обслуживающий ваш персонал!
        .review__answer
            h4 Представитель клиники АллергоСити
            p Представитель клиники АллергоСити
        .review__item
            span Отзыв от 21.01.2020
            h4 Анастасия Богданова
            p Первое - нет очередей, что максимально удобно с ребенком, второе - адекватные специалисты. Большой плюс в том, что список назначенных медикаментов стоит "3 копейки", то есть цены на выписанные препараты не заоблачные. Посещали мы аллерголога и ЛОРа, еще сдавали анализы, делали пробы. В клинике хорошо, чисто и опрятно. Для детей там есть столик, игрушки. Пока мама разговаривает с врачом, ребенку есть, на что отвлечься. Видела, что там есть телевизор. Врачи принимают четко по времени. Записаться можно за 1-3 дня. О приеме напоминают. По телефону девушки разговаривают отлично. Когда приходишь, то они здороваются, когда уходишь - прощаются, говорят: "Приходите к нам еще!" Желаю, чтобы клиника продолжала работать в том же духе. Для нас она расположена удобно, рядышком. Ее легко найти.
        .review__answer
            h4 Представитель клиники АллергоСити
            p Добрый день!<br>Большое спасибо за ваш отзыв и теплые слова в адрес АллергоСити!<br>Нам очень приятно, что вы нас выбрали и вам было комфортно.<br>Желаем вам крепкого здоровья!<br>С уважением, АллергоСити
        .review__item
            span Отзыв от 21.01.2020
            h4 Анастасия Богданова
            p Приходила с ребенком. Осталось довольна. Обследовали и проконсультировали очень хорошо. Хорошие врачи. Рекомендую.
        .review__item
            span Отзыв от 21.01.2020
            h4 Анастасия Богданова
            p В клинику «Аллергосити» мы обращались за диагностикой. Могу сказать, что меня все устроило. Хочу отметить, что в клинике нет очередей, на наш прием мы попали совершенно вовремя. Отношение у персонала было хорошим, могу оценить на пять баллов. Только вот в самом помещении клиники тесновато, на мой взгляд. Дело в том, что там мало посадочных мест. Обычно в эту клинику приходят мамы с детками и получается так, что они либо деток своих сажают, а сами стоят, либо наоборот. Доктор нам помог, он провел определенную процедуру. Стоимость услуг меня вполне устроила. Думаю, что мы могли бы туда снова вернуться. Проблем с поиском клиники у меня не возникло, она вполне удобно расположена.
        a(href="#").review__more Показать еще
    .pages
        span.pages__active 1
        span 2
        span 3
        span ...
        span 28